p, h1 {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3%;
}

img {
    border-radius: 8px;
    height: 20%;
    margin-left: 18%;
    margin-bottom: 5%;
  }

fieldset {
    display: block;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 6%;
    border: 2px groove (internal value);
}